<div class="hero-container">
    <div class="overlay">
        <div class="content">
            <h1 class="hero-title">About GrandeVibes</h1>
            <!-- Search form -->
         <p>Welcome to "Ariana Grande Songs," your ultimate destination for everything related to the iconic artist Ariana Grande. We are a passionate team of music enthusiasts dedicated to curating a comprehensive collection of Ariana Grande's songs, music videos, live performances, and more, all in one convenient platform.

            At "Ariana Grande Songs," our mission is to provide fans and music lovers with an immersive and enjoyable experience as they explore the diverse discography of Ariana Grande. Whether you're a longtime fan or just discovering her music, our platform offers a user-friendly interface and robust search functionality to help you easily find and enjoy your favorite songs and videos.
            
            With a commitment to quality and excellence, we strive to ensure that our platform remains up-to-date with the latest releases and content from Ariana Grande. From chart-topping hits to rare gems, we aim to showcase the breadth and depth of Ariana Grande's talent, allowing fans to connect with her music in meaningful ways.
            
            Join us on this musical journey and immerse yourself in the world of Ariana Grande like never before. Thank you for choosing "Ariana Grande Songs" as your go-to destination for all things Ariana Grande. Let's celebrate the power of music together!</p>
        </div>
    </div>
</div>
