@import url(https://bootswatch.com/5/quartz/bootstrap.min.css); 
div{
    padding: 0px;
    margin-top: -100px;
    background: linear-gradient(to bottom, #000000, #350000)!important; /* Red to black gradient */
}
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
html {
    scrollbar-width: none;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer, Edge */
}
p{
    text-align: center;
}
footer {
    background-color: #f8f9fa; /* Example background color */
    padding: 20px;
    text-align: center;
    position: absolute;
    width: 100%; /* Make the footer span the full width */
    bottom: 0; /* Position the footer at the bottom of its containing element */
  }
@font-face {
    font-family: 'Eternal Sunshine';
    src: url('src\assets\eternal sunshine typeface.ttf') format('truetype');
}

/* Use the custom font for specific elements */
h1, h2, h3, h5, button, p,form ,div{
    font-family: 'Eternal Sunshine', sans-serif; /* Fallback to sans-serif if font fails to load */

}